body{
    width: 300px;
    margin: 0 auto;
}

.todo-title{
    width: 78px;
    display: block;
    margin: 5% auto;
}

.todo-form{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.todo-input{
    width: 200px;
    height: 30px;
    outline: none;
    border-color: gray;
    font-size: 14px;
}

.todo-block{
    width: 300px;
}

.filter-block{
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.todo-list{
    list-style-type: none;
    padding-left: 0;
}

.add-task, .complete-tasks, .all-tasks, .active-tasks{
    width: 80px;
    height: 36px;
    border-radius: 5px;
    outline: none;
}

.single-task{
    display: flex;
    margin: 5px;
}

.single-task-value{
    width: 360px;
    display: flex;
    justify-content: center;
}

.buttons-single-task{
    height: 20px;
    border-radius: 5px;
}

.complete{
    text-decoration: line-through;
    color: darkgray;
}

.active-button{
    background-color: gray;
}
